body {
	padding: 3vh 5vw;
	font-family: 'Helvetica';
}

a {
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
}

h3 {
	display: block;
}

main {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 30px;
}

iframe {
	width: 100%;
}

div {
	flex: 1 0 0;
	padding-right: 50px;
	margin-bottom: 40px;
}

p {
	line-height: 30px;
}

i {
	display: inline-block;
	width: 30px;
	text-align: center;
}

small {
	text-decoration: line-through;
	color: #bbb;
}

@media screen and (max-width: 800px) {
	main {
		display: block;
	}
}