
/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

	#top-left,
	#top-right,
	#bottom-right
	{
		position: absolute;
	}

	.modal td
	{
		display: block;
	}

	.modal-header td
	{
		display: table-cell;
	}

	#user-stories
	{
		display: none;
	}

	#scroller
	{
		display: none;
	}

	#about, #projects
	{
		padding-left: 5%;
		padding-right: 5%;
	}

	#me2
	{
		width: 18%;
		left: 41%;
	}

	.projects-carousel
	{
		width: 70% !important;
		height: auto !important;
	}

	.projects-carousel img
	{
		width: 70%;
		margin: 0 auto;
	}

	div
	{
		padding: 0;
		margin: 0 auto;
		display: block;
		position: static;
		height: auto;
	}

	/* ADJUST FONT SIZES */

	h1
	{
	    font-size: calc(9px + 3.5vw);;
	}

	h2
	{
	    font-size: calc(9px + 2vw);
	}

	h3
	{
	    font-size: calc(9px + 1.7vw);
	}

	h4
	{
	    font-size: calc(9px + 1.2vw);
	}

	h5
	{
	    font-size: calc(9px + 0.5vw);
	}

	a, p
	{
	    font-size: calc(9px + 0.2vw);
	}
}

@media screen and (max-width: 700px) {


	/* long text should be made smaller so that it isn't cut off on small screens */
	#long-text
	{
		font-size: 2em;
	}

	svg 
	{
		width: 50%;
	}

	#hi p
	{
		line-height: 3.5vh;
	}

	#about h5
	{
		line-height: 5.5vh;
	}

	.text--line {
	  font-size: 40em; 
	}

	#landing-subtitle
	{
		margin-top: 45%;
		font-size: 1em;
	}

	.row .col
	{
		width: 90% !important;
		margin: 0 auto;
	}

	#me2
	{
		width: 20%;
		left: 40%;
	}
}