.slick-slide img
{
	border-radius: 3%;
}

.slick-slide
{
	margin: 0 1% 0 1%;
}

.slick-prev:before,
.slick-next:before
{
	transition: all 0.5s;
	color: #999;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before,
{
	color: black;
	opacity: 1;
}

.slick-frame {
    visibility: hidden;
}
.slick-frame.slick-initialized {
    visibility: visible;
}
