/* FOR DEBUGGING 

*
{
	border: 1px solid grey;
}

/* GENERAL STYLES */

body
{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

main
{
	padding: 3% 7% 0;
	margin: 0;
}

table
{
	table-layout: fixed;
	width: 100%;
}

iframe
{
	max-width: 100%;
}

div
{
	padding: 2% 5%;
}

ul
{
	padding: 5%;
	list-style-type: none;
}

hr
{
	width: 80%;
	float: left;
}

a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	text-decoration: underline;
}

/* HEADER */

header
{
	background: linear-gradient(
	            rgba(20,20,20, .8), 
	            rgba(20,20,20, .8)),
				url(../images/red_backdrop.png);
	color: white;
}

#bar
{
	height: 5px;
	background: #AF001F;
	padding: 0;
}

#logo-cell
{
	width: 100px;
}

#logo
{
	position: relative;
	top: -5px;
	float: left;
}

#title-cell
{
	padding-left: 10px;
}

#contact-info
{
	text-align: right;
}

#contact-info p
{
	margin-top: 0;
}

/* BANNER SECTION */

#landing
{
	padding: 2% 12% 3%;
}

#search
{
	padding: 0;
	display: inline-block;
	text-align: right;
	float: right;
}

header > table,
footer > table
{
	padding: 0 12% 0 12%;
}


/* TIPS SECTION*/
/* ADDITIONAL SUPPORT TOPICS SECTION */

#tips, #additional-topics
{
	background: #f1f1f1;
}

#tips td,
#additional-topics td,
footer td
{
	vertical-align: top;
}

/* FOOTER */

footer
{
	margin-top: 5%;
	max-width: 100%;
	padding: 3% 0 3% 0;
	background: #474747;
	color: white;
}





